<!-- <p>
  parmetar-form works!
</p>  col-lg-9 col-md-9 col-xs-10-->
<!-- <div class="row">
<div class="col-lg-9 col-md-9 col-xs-10"> -->
<div class="panel panel-primary">
  <div class="panel-heading">
      <h3>{{title}}</h3>

  </div>
<div class="panel-body ">

  <!-- <div   ng-repeat="item in ERROR" ng-value="item" class="text-danger" >
      <p>{{ERROR.KodDrzave.message}}</p>
      <p>{{ERROR.Naziv.message}}</p>
      
  </div> -->
 
      <form [formGroup]="frParam" (ngSubmit)="save()">
          <div class="form-group" >
              <!-- <label class="center-block">ID: -->
                <input class="form-control" formControlName="_id"  [(ngModel)]="parametar._id"   type="hidden">
              <!-- </label> -->
            </div>
        

           <div class="form-group">
              <label class="center-block">Naziv:
                <input class="form-control" formControlName="Naziv"  [(ngModel)]="parametar.Naziv" >
              </label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!frParam.controls['Naziv'].valid && frParam.controls['Naziv'].touched">
                <!-- <i class="fa fa-close"></i> -->
                <!-- {{ titleAlertNaziv }} -->
                <span *ngIf="frParam.controls['Naziv'].errors['required']">Naziv is required</span>
                <span *ngIf="frParam.controls['Naziv'].errors['minlength']">Naziv be longer than min 3 characters</span>
                <span *ngIf="frParam.controls['Naziv'].errors['maxlength']">Naziv be longer than max 25 characters</span>
                

            </div>
              <!-- <div class="text-danger" *ngIf="!frParam.controls['Naziv'].valid && frParam.controls['Naziv'].touched">{{ titleAlertNaziv }}</div> -->
              
            </div>
            <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="Koristi" [(ngModel)]="parametar.Koristi"  value="1">Koristi.
                </label>
                
            </div>
            <div class="form-group">
                <label class="center-block">Text vrednost:
                  <input class="form-control" formControlName="VredString"  [(ngModel)]="parametar.VredString" >
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Brojčana vrednost:
                  <input class="form-control" formControlName="VredNumeric"  [(ngModel)]="parametar.VredNumeric" >
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Opis:
                  <!-- <input class="form-control" formControlName="Opis"  [(ngModel)]="parametar.Opis" > -->
                  <textarea class="form-control" formControlName="Opis"  [(ngModel)]="parametar.Opis">

                  </textarea>
                </label>
            </div>
            <!-- <div style="margin-bottom: 1em">
                <button type="submit"
                        [disabled]="!frParam.valid" class="btn btn-success">Save</button> &nbsp;
            </div> -->
            <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <button type="submit" [disabled]="!frParam.valid"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-saved"></span>
                        Save
                        </button>

                      <button type="reset" class="btn btn-danger"  [disabled]="frParam.pristine"  (click)="revert()">
                          <i class="fa fa-undo" aria-hidden="true"></i>
                          Revert
                      </button>
                      
                   </div>
              
                      <!-- <div class="col-md-offset-2 col-md-6">
                              <button type="submit" [disabled]="!frParam.valid"
                                class="btn btn-default">
                               <span class="glyphicon glyphicon-saved"></span>
                              Save
                              </button>
              
                      </div> -->
          </div>
              


      </form>
      
    </div>

    <div class="panel-footer">
        <!-- <div class="col-md-offset-2 col-md-9"> -->
            <button (click)="backClicked()"  class="btn btn-primary btn-block">
              <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
              Back
          </button>
        <!-- </div> -->
    </div>

</div>
    
<!-- <div class="col-md-offset-2 col-md-9">
    <button (click)="backClicked()"  class="btn btn-default btn-block">
    <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
    Back
  </button>
</div> -->


<!-- </div>   coll
</div>  row -->

    