<!-- <p>
  radnik-form works!
</p> -->

<div class="panel panel-primary" [@formsTransition]>
  <div class="panel-heading">
      <div class="row">
          <div class="text-left col-lg-9 col-md-9 col-xs-9">
            <h3>{{title}}</h3> 
          </div>
          <div class="text-right col-lg-3 col-md-3 col-xs-3 ">
            <i class="fa fa-times fa-4x cursorpointer" aria-hidden="true" (click)="backClicked()"></i>
          </div>
      </div>
  </div>
  <div class="panel-body">
      <form [formGroup]="formFSAT" (ngSubmit)="save()" novalidate>
          <div class="form-group" >
               <input class="form-control" formControlName="_id"  [(ngModel)]="fnsatN._id"   type="hidden">
          </div>
          <div class="form-group">
            <label class="center-block">Godina:
              <input class="form-control" formControlName="Godina"  [(ngModel)]="fnsatN.Godina"  required>
            </label>
            <div *ngIf="Godina.invalid && (Godina.dirty || Godina.touched)" class="alert alert-danger">
                <div *ngIf="Godina.errors.required">
                    <strong>Godina je obavezan podatak !!!</strong>
                </div>
                
               </div>
            
          </div>
          <div class="form-group">
              <label class="center-block">Mesec:
                <input class="form-control" formControlName="Mesec"  [(ngModel)]="fnsatN.Mesec"  required>
              </label>
              <div *ngIf="Mesec.invalid && (Mesec.dirty || Mesec.touched)" class="alert alert-danger">
                  <div *ngIf="Mesec.errors.required">
                      <strong>Mesec je obavezan podatak !!!</strong>
                  </div>
                  <div *ngIf="Mesec.errors.maxValue">
                      <strong>Mesec nije dobar(>12)  !!!</strong>
                    </div>
                  <div *ngIf="Mesec.errors.minValue">
                      <strong>Mesec nije dobar(<1)  !!!</strong>
                    </div>
              </div>
              
            </div>
            <div class="form-group">
              <label class="center-block">Sati:
                <input class="form-control" formControlName="Sati"  [(ngModel)]="fnsatN.Sati" required>
              </label>
              <div *ngIf="Sati.invalid && (Sati.dirty || Sati.touched)" class="alert alert-danger">
                  <div *ngIf="Sati.errors.required">
                      <strong>Sati je obavezan podatak !!!</strong>
                  </div>
                  <div *ngIf="Sati.errors.maxValue">
                      <strong>Sati pogrešan podatak(>248)  !!!</strong>
                    </div>
                  <div *ngIf="Sati.errors.minValue">
                      <strong>Sati pogrešan podatak(<1)  !!!</strong>
                    </div>
              </div>
            </div>
            
            <div class="form-group">
                <label class="center-block">Minimalna osnovica:
                  <input  class="form-control" formControlName="MinOsnov"  [(ngModel)]="fnsatN.MinOsnov" required>
                </label>
                <div *ngIf="MinOsnov.invalid && (MinOsnov.dirty || MinOsnov.touched)" class="alert alert-danger">
                    <div *ngIf="MinOsnov.errors.required">
                        <strong>Minimalna osnovica je obavezan podatak !!!</strong>
                    </div>
                    <div *ngIf="MinOsnov.errors.minValue">
                        <strong>Minimalna osnovica pogrešan podatak(<1)  !!!</strong>
                      </div>
                </div>
              </div>

              <div class="form-group">
                <label class="center-block">Maksimalna osnovica:
                  <input class="form-control" formControlName="MaxOsnov"  [(ngModel)]="fnsatN.MaxOsnov" required>
                </label>
                
                <div *ngIf="MaxOsnov.invalid && (MaxOsnov.dirty || MaxOsnov.touched)" class="alert alert-danger">
                    <div *ngIf="MaxOsnov.errors.required">
                        <strong>Maksimalna osnovica je obavezan podatak !!!</strong>
                    </div>
                    <div *ngIf="MaxOsnov.errors.minValue">
                        <strong>Maksimalna osnovica pogrešan podatak(<1)  !!!</strong>
                      </div>
                </div>
              </div>
              

              <div class="form-group">
                <label class="center-block">Opis:
                  <textarea class="form-control" formControlName="Opis"  [(ngModel)]="fnsatN.Opis">
                  </textarea>
                </label>
            </div>
          
            <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <button type="submit" [disabled]="!formFSAT.valid"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-saved"></span>
                        Save
                        </button>

                      <button type="reset" class="btn btn-danger"  [disabled]="formFSAT.pristine"  (click)="revert()">
                          <i class="fa fa-undo" aria-hidden="true"></i>
                          Revert
                      </button>
                      
                    </div>
              
                    
          </div>
              


      </form>
  </div>
 
  <div class="panel-footer">
      
          <button (click)="backClicked()"  class="btn btn-primary btn-block">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            Back
        </button>
 
  </div>
  
</div>
