# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/log

# dependencies
/Zadserv/node_modules
/zad-client/node_modules
/Zadserv/log/*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
Zadserv/log/access.log
zad-client/dist/color.c7a33805ffda0d32bd2a.png
zad-client/dist/favicon.ico
zad-client/dist/fontawesome-webfont.674f50d287a8c48dc19b.eot
zad-client/dist/fontawesome-webfont.912ec66d7572ff821749.svg
zad-client/dist/fontawesome-webfont.af7ae505a9eed503f8b8.woff2
zad-client/dist/fontawesome-webfont.b06871f281fee6b241d6.ttf
zad-client/dist/fontawesome-webfont.fee66e712a8a08eef580.woff
zad-client/dist/glyphicons-halflings-regular.448c34a56d699c29117a.woff2
zad-client/dist/glyphicons-halflings-regular.89889688147bd7575d63.svg
zad-client/dist/glyphicons-halflings-regular.e18bbf611f2a2e43afc0.ttf
zad-client/dist/glyphicons-halflings-regular.f4769f9bdb7466be6508.eot
zad-client/dist/glyphicons-halflings-regular.fa2772327f55d8198301.woff
zad-client/dist/index.html
zad-client/dist/inline.bundle.js
zad-client/dist/inline.bundle.js.map
zad-client/dist/line.567f57385ea3dde2c9ae.gif
zad-client/dist/main.bundle.js
zad-client/dist/main.bundle.js.map
zad-client/dist/polyfills.bundle.js
zad-client/dist/polyfills.bundle.js.map
zad-client/dist/scripts.bundle.js
zad-client/dist/styles.bundle.js
zad-client/dist/styles.bundle.js.map
zad-client/dist/vendor.bundle.js
zad-client/dist/vendor.bundle.js.map
Zadserv/public/fontawesome-webfont.912ec66d7572ff821749.svg
Zadserv/public/glyphicons-halflings-regular.89889688147bd7575d63.svg
Zadserv/public/index.html
Zadserv/public/inline.bundle.js
Zadserv/public/inline.bundle.js.map
Zadserv/public/main.bundle.js
Zadserv/public/main.bundle.js.map
Zadserv/public/polyfills.bundle.js
Zadserv/public/polyfills.bundle.js.map
Zadserv/public/scripts.bundle.js
Zadserv/public/styles.bundle.js
Zadserv/public/styles.bundle.js.map
Zadserv/public/vendor.bundle.js
Zadserv/public/vendor.bundle.js.map
Zadserv/public/favicon.ico
Zadserv/public/fontawesome-webfont.912ec66d7572ff821749.svg
Zadserv/public/glyphicons-halflings-regular.89889688147bd7575d63.svg
Zadserv/public/glyphicons-halflings-regular.89889688147bd7575d63.svg
Zadserv/public/inline.bundle.js
Zadserv/public/inline.bundle.js.map
Zadserv/public/main.bundle.js
Zadserv/public/main.bundle.js.map
Zadserv/public/polyfills.bundle.js
Zadserv/public/polyfills.bundle.js.map
Zadserv/public/scripts.bundle.js
Zadserv/public/styles.bundle.js
Zadserv/public/styles.bundle.js.map
Zadserv/public/vendor.bundle.js
Zadserv/public/vendor.bundle.js.map
zad-client/dist/assets/img/Home.jpg
zad-client/dist/assets/img/Banners2.jpg
zad-client/dist/assets/img/Banners1.jpg
Zadserv/public/favicon.ico
Zadserv/public/index.html
Zadserv/public/inline.bundle.js.map
Zadserv/public/main.bundle.js
Zadserv/public/main.bundle.js.map
Zadserv/public/styles.bundle.js
Zadserv/public/styles.bundle.js.map
Zadserv/public/assets/img/Banners1.jpg
Zadserv/public/assets/img/Banners2.jpg
Zadserv/public/assets/img/Home.jpg
