<div class="row">
    <div *ngIf="drzave; else  waiting" class="col-lg-9 col-md-9 col-xs-10">
      <h3 class="first">TABELA DRZAVA</h3>
      <input #gb type="text" placeholder="Global search" pInputText focus>
      <p></p>

      <p-dataTable [value]="drzave"  [globalFilter]="gb" [resizableColumns]="true" [rows]="10" [paginator]="true"
                selectionMode="single" [(selection)]="selectedDrzave" dataKey="_id"  [loading]="loading" loadingIcon="fa fa-spinner" 
                styleClass="table table-striped" [responsive]="true"  [immutable]=false >
      <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column>    
                                                                                         
      <p-column styleClass="text-danger" field="KodDrzave" header="Kod" sortable="true"></p-column>                               
      <p-column field="Naziv" header="Naziv" sortable="true"></p-column>
      <p-column field="EuClan" header="EuClan" sortable="true"></p-column>
      <p-column field="Opis" header="Opis" sortable="true"></p-column>
      <p-column field="NameUser" header="User" sortable="true"></p-column>
      
      <p-column styleClass="col-button" heder="Opcije">
          <ng-template let-drz="rowData" let-i="rowIndex" pTemplate="body">
              <button type="button" pButton (click)="showDialogToAdd(drz)" icon="fa fa-info" title="Info"></button>
              <button type="button" pButton (click)="updateDrzavu(drz._id)" icon="fa fa-pencil" title="Update"></button>
              <button type="button" pButton (click)="deleteDrzavu(drz)" icon="fa fa-trash" title="Delete"></button>
          </ng-template>
     </p-column>
      <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="addDrzave()" label="Add"></button>
            </div>
        </p-footer>
      </p-dataTable>
    </div>
</div>

<ng-template #waiting >Waiting...</ng-template>