<p>
  uput-form works!
</p>

<!-- <p>
  zadrugar-form works!
</p> -->
<div class="panel panel-primary"  [@formsTransition]>
  <div class="panel-heading">
      <div class="row">
          <div class="text-left col-lg-9 col-md-9 col-xs-9">
              <h5>{{title}}</h5> 
            </div>
            <div class="text-right col-lg-3 col-md-3 col-xs-3 ">
              <i class="fa fa-times cursorpointer pull-right" aria-hidden="true" (click)="backClicked()"></i>
            </div>
     </div>
  </div>
  <div class="panel-body">
      <form [formGroup]="formUput" (ngSubmit)="save()" novalidate>
          <!-- <div class="form-group" > -->
          <input class="form-control" formControlName="_id"  [(ngModel)]="zadrN._id"   type="hidden">
          <!-- </div> -->
                        
         
          
      
        
          
      
          <div class="form-group">
                  <div class="col-md-offset-5 col-md-12">
                      <button type="submit" [disabled]="!formUput.valid"
                          class="btn btn-success">
                      <span class="glyphicon glyphicon-saved"></span>
                      Save
                      </button>

                      <button type="reset" class="btn btn-danger"  [disabled]="formUput.pristine"  (click)="revert()">
                          <i class="fa fa-undo" aria-hidden="true"></i>
                          Clear data
                      </button>
                  
                  </div>
          </div>
      </form>
  </div>
 
  <div class="panel-footer">
      <!-- <div class="col-md-offset-2 col-md-9"> -->
          <button (click)="backClicked()"  class="btn btn-primary btn-block">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            Back
        </button>
      <!-- </div> -->
  </div>
  
</div>