<p>
  zanimanja works!
</p>




<!-- <div *ngIf="zanimanja;else  waiting"  [@routerTransition]> -->
  
      <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i> [globalFilter]="gb"
          <input #gb type="text" pInputText size="50" placeholder="Global Filter">
      </div> -->
      <!-- <p-dataTable [value]="zanimanja"   [resizableColumns]="true" [rows]="10" [paginator]="true"
                selectionMode="single" [(selection)]="selectedZan" dataKey="_id"   
                styleClass="table table-striped" [responsive]="true"  [immutable]=false 
                resizableColumns="true" columnResizeMode="expand">

              <p-header><strong>{{Title}}</strong></p-header>       
      <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column> 
      <p-column field="Sifra" header="Šifra" sortable="true"></p-column> 
      <p-column field="Naziv" header="Naziv" sortable="true"></p-column>
      <p-column field="StepenSS" header="StepenSS" sortable="true"></p-column>   
        
      <p-column  styleClass="col-button text-center" heder="ACTION">
          <ng-template let-zan="rowData" let-i="rowIndex" pTemplate="body">
              <button type="button" pButton (click)="selectPosao(zan)" icon="fa fa-info" title="Info"></button>
              <button type="button" pButton (click)="updateZanimanja(zan._id)" icon="fa fa-pencil" title="Update"></button>
              <button type="button" pButton (click)="deleteZanimanje(zan)" icon="fa fa-trash" title="Delete"></button>
          </ng-template>
      </p-column>
      <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="addZnimanja()" label="Add"></button>
            </div>
        </p-footer>
      </p-dataTable>
    </div>
    
    
    
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
                <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
    </p-confirmDialog> -->
    
    
    
    <!-- <p-dialog header="Zanimanja" [(visible)]="displayDetals" modal="modal" [responsive]="true"  [width]="850" [height]="auto">
    
            <div>
                    <dl class="dl-horizontal">
                        <dt>
                         ID
                        </dt>
                        <dd class="text-success">
                           {{zanShow._id}}
                        </dd>
                        <dt>
                            ŠIFRA
                        </dt>
                        <dd class="text-success">
                              {{zanShow.Sifra}}
                        </dd>
                        <dt>
                            NAZIV
                          </dt>
                          <dd class="text-success">
                               {{zanShow.Naziv}} 
                          </dd>  
                        <dt>
                            STRUČNA SPREMA
                          </dt>
                          <dd class="text-success">
                               {{zanShow.StepenSS}} 
                          </dd> 
                        <dt>
                        OPIS
                        </dt>
                        <dd class="text-success">
                            {{zanShow.Opis}}
                            
                        </dd>
                        <dt>
                        DATUM UNOSA
                        </dt>
                        <dd class="text-success">
                            {{zanShow.created_at}}
                            
                        </dd>
                        <dt>
                        DATUM AŽURIRANJA
                        </dt>
                        <dd class="text-success">
                            {{zanShow.updatedAt}}
                            
                        </dd>
                        <dt>
                        KORISNIK
                        </dt>
                        <dd class="text-success">
                            {{zanShow.NameUser}}
                            
                        </dd>
                
                    </dl>                        
            </div>
            <p-footer>
                    <button type="button" pButton icon="fa-close" (click)="displayDetals=false" label="Close"></button>
           </p-footer>
    </p-dialog>
     -->
    
     <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
      <p-footer>
          <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
      </p-footer>
</p-confirmDialog>

    <ng-template #waiting >Waiting...</ng-template>
    
  