<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter" autofocus>
</div>
<p-dataTable [value]="zanL" [globalFilter]="gb" [resizableColumns]="true"  (onRowSelect)="PickZanim($event)"
  selectionMode="single" [(selection)]="selectedZan" dataKey="_id" styleClass="table table-striped" [responsive]="true" [immutable]=false
  resizableColumns="true" columnResizeMode="expand">

  <p-header>
    <strong>{{Title}}</strong>
    <span style="float:right">&#931; {{brojzanim}}</span>
  </p-header>
  <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column>
  <p-column field="Sifra" header="Šifra" sortable="true" [style]="{'width':'20%'}"></p-column>
  <p-column field="Naziv" header="Naziv" sortable="true" [style]="{'width':'40%'}"></p-column>
  <p-column field="StepenSS" header="StepenSS" sortable="true" [style]="{'width':'25%'}"></p-column>




  <ng-template pTemplate="emptymessage">
    <!-- Custom content goes here -->
    <div class="row">
      <div class="text-center col-lg-12 col-md-12 col-xs-12">
        <div class="hidden-xs dtempty_message_h1">
          Još niste kreirali podatak.
        </div>
        <h4 class="visible-xs">Još niste kreirali podatak.</h4>
        <br/>
        <i class="fa fa-info fa-5x cursorpointer" aria-hidden="true"></i>
        <h3 class="hidden-xs dtempty_message" (click)="displayKupac=false">
          <!-- To manually add new one click here: -->
          Da biste ručno dodali podatak kliknite:
          <a class="dtempty_message_text" (click)="addZanimanja()">
            Kreiraj podatak
          </a>
        </h3>

        <h5 class="visible-xs" (click)="displayKupac=false">
          <!-- To manually add new one click here: -->
          Da biste ručno dodali podatak kliknite :
          <a class="dtempty_message_text" (click)="addZanimanja()">
            Kreiraj podatak
          </a>
        </h5>

      </div>
    </div>
  </ng-template>

</p-dataTable>
<p-footer>
  <button type="button" pButton icon="fa-check" (click)="PickZanim()" label="OK"></button>
</p-footer>