<!-- <p>
  fond-sati works!
</p> -->


<div *ngIf="fnsati;else  waiting"  [@routerTransition]>
  
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #gb type="text" pInputText size="50" placeholder="Global Filter">
      </div>
      <p-dataTable [value]="fnsati"  [globalFilter]="gb" [resizableColumns]="true" [rows]="10" [paginator]="true"
                selectionMode="single" [(selection)]="selectedFnSati" dataKey="_id"   
                styleClass="table table-striped" [responsive]="true"  [immutable]=false 
                resizableColumns="true" columnResizeMode="expand">

              <p-header><strong>{{Title}}</strong></p-header>       
      <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column> 
      <p-column field="Godina" header="Godina" sortable="true" styleClass="text-center"></p-column>
      <p-column field="Mesec" header="Mesec" sortable="true"  styleClass="text-center" ></p-column> 
      <p-column field="Sati" header="Sati" sortable="true" styleClass="text-right"></p-column>   
      <p-column field="MinOsnov" header="MinOsnov" sortable="true" styleClass="text-right" >
        <ng-template let-col let-fsati="rowData" pTemplate="body">
            <span>{{fsati[col.field] | currency:'USD':true:'.00'}}</span>
        </ng-template>

      </p-column>
      <p-column field="MaxOsnov" header="MaxOsnov" sortable="true" styleClass="text-right">
        <ng-template let-col let-fsati="rowData" pTemplate="body">
            <span>{{fsati[col.field] | number:'1.0-6'}}</span>
        </ng-template>


      </p-column>
      
      <p-column  styleClass="col-button text-center" heder="ACTION">
          <ng-template let-fsat="rowData" let-i="rowIndex" pTemplate="body">
              <button type="button" pButton (click)="selectItem(fsat)" icon="fa fa-info" title="Info"></button>
              <button type="button" pButton (click)="updateFSati(fsat._id)" icon="fa fa-pencil" title="Update"></button>
              <button type="button" pButton (click)="deleteFSati(fsat)" icon="fa fa-trash" title="Delete"></button>
          </ng-template>
      </p-column>
      <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="addFSati()" label="Add"></button>
            </div>
        </p-footer>
      </p-dataTable>
    </div>
    
    
    
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
                <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
    </p-confirmDialog>
    
    
    
    <p-dialog header="FOND SATI" [(visible)]="displayDetals" modal="modal" [responsive]="true"  [width]="850" [height]="auto">
    
            <div>
                    <dl class="dl-horizontal">
                        <dt>
                         ID
                        </dt>
                        <dd class="text-success">
                           {{fsatiShow._id}}
                        </dd>
                        <dt>
                          GODINA
                        </dt>
                        <dd class="text-success">
                             {{fsatiShow.Godina}} 
                        </dd>
                        <dt>
                            MESEC
                        </dt>
                        <dd class="text-success">
                              {{fsatiShow.Mesec}}
                        </dd>
                          
                        <dt>
                            SATI
                          </dt>
                          <dd class="text-success">
                               {{fsatiShow.Sati}} 
                          </dd> 
                     
                        <dt>
                         MINIMALNA OSNOVICA
                        </dt>
                        <dd class="text-success">
                            {{fsatiShow.MinOsnov}}
                            
                        </dd>
                        <dt>
                           MAKSIMALNA OSNOVICA
                           </dt>
                           <dd class="text-success">
                               {{fsatiShow.MaxOsnov}}
                               
                           </dd>
                        
                        <dt>
                        OPIS
                        </dt>
                        <dd class="text-success">
                            {{fsatiShow.Opis}}
                            
                        </dd>
                        <dt>
                        DATUM UNOSA
                        </dt>
                        <dd class="text-success">
                            {{fsatiShow.created_at}}
                            
                        </dd>
                        <dt>
                        DATUM AŽURIRANJA
                        </dt>
                        <dd class="text-success">
                            {{fsatiShow.updatedAt}}
                            
                        </dd>
                        <dt>
                        KORISNIK
                        </dt>
                        <dd class="text-success">
                            {{fsatiShow.NameUser}}
                            
                        </dd>
                
                    </dl>                        
            </div>
            <p-footer>
                    <button type="button" pButton icon="fa-close" (click)="displayDetals=false" label="Close"></button>
           </p-footer>
    </p-dialog>
    
    
    <ng-template #waiting >Waiting...</ng-template>
    
  