<!-- <p>
  zanimanja-form works!
</p> -->
<div class="panel panel-primary" [@routerTransition]>
  <div class="panel-heading">
      <div class="row">
          <div class="text-left col-lg-9 col-md-9 col-xs-9">
              <h5>{{title}}</h5> 
            </div>
            <div class="text-right col-lg-3 col-md-3 col-xs-3 ">
              <i class="fa fa-times cursorpointer pull-right" aria-hidden="true" (click)="backClicked()"></i>
            </div>
      </div>
  </div>
  <div class="panel-body">
      <form [formGroup]="formZAN" (ngSubmit)="save()" novalidate>
          <div class="form-group" >
               <input class="form-control" formControlName="_id"  [(ngModel)]="zanimN._id"   type="hidden">
          </div>
      
            
          <div class="form-group">
            <label class="center-block">Šifra:
              <input class="form-control" formControlName="Sifra"  [(ngModel)]="zanimN.Sifra" required >
            </label>
            <!-- <div class="text-danger" *ngIf="!formZAN.controls['Sifra'].valid && formZAN.controls['Sifra'].touched">Obavezno</div>  -->

            <div *ngIf="Sifra.invalid && (Sifra.dirty || Sifra.touched)" class="alert alert-danger">
                <div *ngIf="Sifra.errors.required">
                    <strong>Šifra je obavezan podatak !!!</strong>
                </div>
                <div *ngIf="Sifra.errors.minlength">
                  <strong>Šifra mora biti minimalno 4 karaktera dužine !!!</strong>
                </div>
                <div *ngIf="Sifra.errors.maxlength">
                  <strong>Predugačka šifra !!!</strong>
                </div>
                <div *ngIf="Sifra.errors.validateSifru">
                  <strong>Šifra nije u dobrom formatu, ima nedozvoljene karaktere !!!</strong>
                </div>
            </div>

          </div>

          <div class="form-group">
              <label class="center-block">Naziv zanimanja:
                <input class="form-control" formControlName="Naziv"  [(ngModel)]="zanimN.Naziv"  required>
              </label>
               <!-- <div class="text-danger" *ngIf="!formZAN.controls['Naziv'].valid && formZAN.controls['Naziv'].touched">Obavezno</div>  -->
               <div *ngIf="Naziv.invalid && (Naziv.dirty || Naziv.touched)" class="alert alert-danger">
                <div *ngIf="Naziv.errors.required">
                    <strong>Naziv je obavezan podatak !!!</strong>
                </div>
                <div *ngIf="Naziv.errors.maxlength">
                  <strong>Predugački naziv !!!</strong>
                </div>
               </div>


            </div>

            <div class="form-group">
              <label class="center-block">Stručna sprema:
                <select  formControlName="StepenSS" class="form-control"  [(ngModel)]="zanimN.StepenSS"  required>
                  <option *ngFor="let list of strSprema" [value]="list">
                    {{ list }}
                  </option>
                </select>
                <!-- <div class="text-danger" *ngIf="!formZAN.controls['StepenSS'].valid && formZAN.controls['StepenSS'].touched">Obavezno</div>  -->

                <div *ngIf="StepenSS.invalid && (StepenSS.dirty || StepenSS.touched)" class="alert alert-danger">
                  <div *ngIf="StepenSS.errors.required">
                      <strong>Stepen stručne spreme je obavezan podatak !!!</strong>
                  </div>
                  
                 </div>

              </label>
          </div>
         
          <div class="form-group">
                <label class="center-block">Opis:
                  <textarea class="form-control" formControlName="Opis"  [(ngModel)]="zanimN.Opis">
                  </textarea>
                </label>
            </div>
          
            <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <button type="submit" [disabled]="!formZAN.valid"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-saved"></span>
                        Save
                        </button>

                      <button type="reset" class="btn btn-danger"  [disabled]="formZAN.pristine"  (click)="revert()">
                          <i class="fa fa-undo" aria-hidden="true"></i>
                          Clear data
                      </button>
                      
                    </div>
              
                    
          </div>
              


      </form>
  </div>
 
  <div class="panel-footer">
      
          <button (click)="backClicked()"  class="btn btn-primary btn-block">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            Back
        </button>
 
  </div>
  
</div>