<!-- <p>
  quick-menu works!
</p> -->
<app-modal #modal1>
  <div class="app-modal-header">
    header-modal
  </div>
  <div class="app-modal-body">
    Whatever content you like, form fields, anything
    <input type="text">

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
    <button type="button" class="btn btn-default" (click)="modal2.show()">Show modal 2</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</app-modal>