<!-- <p>
  parametar works!
  <select [(ngModel)]="objValue"> // value is an object
    <option *ngFor="#obj of objArray" [ngValue]="obj">{{obj.name}}</option>
</select>

<md-select placeholder="Select Categorie"  
    name="Select Categorie" >
  <md-option *ngFor="let list of categ" [value]="list.value" (click)="sub_cat(list.category_id)" >
    {{ list.category }}
  </md-option>
</md-select>
style="display: none;" ;else  waiting
</p> -->

<div id="glparam" class="row" >
    <div *ngIf="params" class=" table-responsive col-lg-9 col-md-9 col-xs-10">
      <h3 class="first">TABELA PARAMETARA</h3>
      <input #gb type="text" placeholder="Global search" pInputText focus>
      <p></p>

      <p-dataTable [value]="params"  [globalFilter]="gb" [resizableColumns]="true" [rows]="10" [paginator]="true"
                selectionMode="single" [(selection)]="selectedParam" dataKey="_id"  [loading]="loading" loadingIcon="fa-spinner" 
                styleClass="table  table-striped table-condensed" [immutable]=false >
                
      <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column>    
      <!--     drzaveID-->                                                                                          
      <p-column field="Naziv" header="Naziv" sortable="true" ></p-column>
      <p-column field="Koristi" header="Koristi" sortable="true" styleClass="text-center"></p-column>
      <p-column field="VredString" header="STRING" sortable="true"></p-column> 
      <p-column field="VredNumeric" header="NUMERIC" sortable="true" styleClass="text-right"></p-column> 
      <p-column field="Opis" header="Opis" sortable="true"></p-column>
      <p-column field="NameUser" header="User" sortable="true"></p-column>
      
      <p-column styleClass="col-button" heder="Opcije">
          <ng-template let-param="rowData" let-i="rowIndex" pTemplate="body">
              <button type="button" pButton (click)="selectParam(param._id)" icon="fa fa-info" title="Info"></button>
              <button type="button" pButton (click)="updateParam(param._id)" icon="fa fa-pencil" title="Update"></button>
              <button type="button" pButton (click)="deleteParam(param)" icon="fa fa-trash" title="Delete"></button>
          
            </ng-template>
      </p-column>
      <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="onAddParam()" label="Add"></button>
            </div>
        </p-footer>
      </p-dataTable>
    </div>

   
</div>
<ng-template #waiting >
    <div class="col-lg-9 col-md-9 col-xs-10">
     <div class="panel panel-default ">
        <div class="panel-heading">
            <h2>Nema parametara</h2>
      
        </div>
      <div class="panel-body panel-info ">
      <p>Možete uneti nove parametre</p>
         <button type="button" class="btn btn-info btn-lg" (click)="onAddParam()" > 
            <span class="glyphicon glyphicon-plus-sign fa-2x "></span>
          Add</button>
      </div>
        
    </div>

  </div>
  </ng-template>