<div *ngIf="params;else  waiting" [@routerTransition]>

  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>
  <p-dataTable [value]="params" [globalFilter]="gb" [resizableColumns]="true" [rows]="10" [paginator]="true" selectionMode="single"
    [(selection)]="selectedParam" dataKey="_id" styleClass="table  table-striped " [immutable]=false [responsive]="true">

    <p-header>
      <strong>{{Title}}</strong><span style="float:right">&#931; {{brojslogova}}</span>
    </p-header>
    <p-column field="_id" header="ID" sortable="true" hidden="false"></p-column>
    <p-column field="Naziv" header="Naziv" sortable="true"></p-column>
    <p-column field="Koristi" header="Koristi" sortable="true" styleClass="text-center">
      <ng-template let-col let-param="rowData" pTemplate="body">
        <span [hidden]="param[col.field]==false">DA</span>
        <span [hidden]="param[col.field]==true">NE</span>
      </ng-template>
    </p-column>
    <p-column field="VredString" header="STRING" sortable="true"></p-column>
    <p-column field="VredNumeric" header="NUMERIC" sortable="true" styleClass="text-right">
      <ng-template let-col let-param="rowData" pTemplate="body">
        <span>{{param[col.field] | number:'1.2-6'}}</span>
      </ng-template>
    </p-column>

    <p-column styleClass="col-button text-center" heder="Action">
      <ng-template let-param="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="selectParam(param)" icon="fa fa-info" title="Info"></button>
        <button type="button" pButton (click)="updateParam(param._id)" icon="fa fa-pencil" title="Update"></button>
        <button type="button" pButton (click)="deleteParam(param)" icon="fa fa-trash" title="Delete"></button>

      </ng-template>
    </p-column>
    <p-footer *ngIf="params.length > 0">
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="AddParam()" label="Add"></button>
      </div>
    </p-footer>

    <ng-template pTemplate="emptymessage">
      <!-- Custom content goes here -->
      <div class="row">
        <div class="text-center col-lg-12 col-md-12 col-xs-12">
          <div class="hidden-xs dtempty_message_h1">
            Još niste kreirali podatak.
          </div>
          <h4 class="visible-xs">Još niste kreirali podatak.</h4>
          <br/>
          <i class="fa fa-info fa-5x cursorpointer" aria-hidden="true"></i>
          <h3 class=" hidden-xs dtempty_message">
            <!-- To manually add new one click here: -->
            Da biste ručno dodali podatak kliknite:
            <a class="dtempty_message_text" (click)="AddParam()">
              Kreiraj podatak
            </a>
          </h3>

          <h5 class="visible-xs">
            <!-- To manually add new one click here: -->
            Da biste ručno dodali podatak kliknite :
            <a (click)="AddParam()">
              Kreiraj podatak
            </a>
          </h5>

        </div>
      </div>
    </ng-template>

  </p-dataTable>
</div>



<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" [width]="auto" [responsive]="true" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Ne" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Da" class="ui-button-danger" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>



<p-dialog header="PARAMETAR" [(visible)]="displayDetals" modal="modal" [responsive]="true" [width]="auto" [height]="auto">

  <div>
    <dl class="dl-horizontal">
      <dt>
        ID
      </dt>
      <dd class="text-success">
        {{parShow._id}}
      </dd>
      <dt>
        NAZIV PARAMETRA
      </dt>
      <dd class="text-success">
        {{parShow.Naziv}}
      </dd>
      <dt>
        KORISTI PARAMETAR
      </dt>
      <dd class="text-success">
        {{parShow.Koristi | prettyavtiveprint}}

      </dd>
      <dt>
        STRING VREDNOST PARAMETRA
      </dt>
      <dd class="text-success">
        {{parShow.VredString}}

      </dd>
      <dt>
        NUMERIČKA VREDNOST PARAMETRA
      </dt>
      <dd class="text-success">
        {{parShow.VredNumeric | number:'1.2-6'}}
      </dd>
      <dt>
        OPIS
      </dt>
      <dd class="text-success">
        {{parShow.Opis}}
      </dd>
      <dt>
        DATUM UNOSA
      </dt>
      <dd class="text-success">
        {{parShow.created_at}}

      </dd>
      <dt>
        DATUM AŽURIRANJA
      </dt>
      <dd class="text-success">
        {{parShow.updatedAt}}
      </dd>
      <dt>
        KORISNIK
      </dt>
      <dd class="text-success">
        {{parShow.NameUser}}

      </dd>

    </dl>
  </div>


  <!-- <p>JSON.stringify({{selectedOpstina}})</p> -->
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="displayDetals=false" label="Close"></button>
  </p-footer>
</p-dialog>

<ng-template #waiting>
  <div class="centerWait">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    Loading...
  </div>
</ng-template>
