<!-- <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000"  styleClass="ui-sidebar-sm"  > -->
    
        <h2>TEST MENU</h2>
        <ul class="nav nav-pills nav-stacked">
              
            <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                <a [routerLink]="['/uput']">
                <i class="menu-icon hidden-xs fa fa-file" aria-hidden="true" ></i>&nbsp;Uput</a>
            </li>
            <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                <a [routerLink]="['/uput']">
                <i class="menu-icon hidden-xs fa fa-book" aria-hidden="true" ></i>&nbsp;Faktura</a>
            </li>

            <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                <a [routerLink]="['/uput']">
                <i class="menu-icon hidden-xs fa fa-gg" aria-hidden="true" ></i>&nbsp;Uplata</a>
            </li>
            <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                <a [routerLink]="['/uput']">
                <i class="menu-icon hidden-xs fa fa-money" aria-hidden="true" ></i>&nbsp;Isplata</a>
            </li>
        
            <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                <a [routerLink]="['/zadrugar']">
                    <i class="menu-icon hidden-xs fa fa-users" aria-hidden="true" ></i>&nbsp;Zadrugari</a>
                </li>
                
                <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                    [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                    <a [routerLink]="['/partner']">
                    <i class="menu-icon hidden-xs fa fa-address-card" aria-hidden="true"  ></i>&nbsp;Kupci</a>
                </li> 

                <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                    [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                    <a [routerLink]="['/banke']">
                    <i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"  ></i>&nbsp;Banke</a>
                </li> 

                
                <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()" 
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                    <a [routerLink]="['/zanimanja']" ><i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"></i>&nbsp;Zanimanja</a>
                </li>
               
                <li role="presentation" (click)="OnClickMenu()"  *ngIf="authService.loggedIn()" 
                            [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                    <a  [routerLink]="['/posao']" >
                    <i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"></i>&nbsp; 
                        Poslovi
                    </a>
                </li>
             
                <li role="presentation" (click)="OnClickMenu()" *ngIf="authService.loggedIn()" 
                            [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a [routerLink]="['/mesta']" >
                            <i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"></i>&nbsp;Mesta
                        </a>
                </li>
                <li role="presentation"  *ngIf="authService.loggedIn()" (click)="OnClickMenu()"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a [routerLink]="['/opstine']" >
                            <i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"></i>&nbsp;Opštine
                        </a>
                </li>
                <li role="presentation" *ngIf="authService.loggedIn()" (click)="OnClickMenu()"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                    <a [routerLink]="['/drzave']" >
                        <i class="menu-icon hidden-xs fa fa-list-alt" aria-hidden="true"></i>&nbsp;Države
                    </a>
                </li>
                <li *ngIf="authService.loggedIn()" role="presentation" (click)="OnClickMenu()"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a [routerLink]="['/vlasnik']" >
                            <i class="menu-icon hidden-xs fa fa-object-group" aria-hidden="true"></i>Vlasnik
                        </a>
                  </li>
                  <li *ngIf="authService.loggedIn()" role="presentation" (click)="OnClickMenu()"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a [routerLink]="['/konstanta']" >
                            <i class="menu-icon hidden-xs fa fa-object-group" aria-hidden="true"></i>Konstante
                        </a>
                  </li>
                  <li *ngIf="authService.loggedIn()" role="presentation" (click)="OnClickMenu()"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a [routerLink]="['/fondsati']" >
                            <i class="menu-icon hidden-xs fa fa-object-group" aria-hidden="true"></i>Fond sati
                        </a>
                  </li>
                  <li *ngIf="authService.loggedIn()" role="presentation" (click)="OnClickMenu()"
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" > 
                        <a [routerLink]="['/radnik']" >
                            <i class="menu-icon hidden-xs fa fa-object-group" aria-hidden="true"></i>Radnik
                        </a>
                  </li>
                  
                  <li *ngIf="authService.loggedIn()" role="presentation" (click)="OnClickMenu()" 
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                    <a [routerLink]="['/parametar']" >
                        <i class="menu-icon hidden-xs fa fa-object-group" aria-hidden="true"></i>Parametri
                    </a>
                 </li>
                 <li *ngIf="authService.loggedIn()"   role="presentation" (click)="OnClickMenu()"  
                        [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                    <a [routerLink]="['/profile']">Profile
                      <i class=" menu-icon pull-left hidden-xs showopacity fa fa-user-md" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" 
                        [routerLinkActiveOptions] = "{exact:true}"  role="presentation" (click)="OnClickMenu()">
                    <a [routerLink]="['/register']">Register</a>
                  </li>
        </ul>
 
     
  <!-- <h1 style="font-weight:normal">Left Sidebar</h1>
  <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button> -->



<!-- </p-sidebar> -->