<div class="row">
    <div class="col-lg-9 col-md-9 col-xs-10">
    <div class="panel panel-info ">
      <div class="panel-heading">
          <h3>{{title}}</h3>
    
      </div>
    <div class="panel-body panel-info">
    
      <!-- <div   ng-repeat="item in ERROR" ng-value="item" class="text-danger" >
          <p>{{ERROR.KodDrzave.message}}</p>
          <p>{{ERROR.Naziv.message}}</p>
          
      </div> -->
     
          <form [formGroup]="formDR" (ngSubmit)="save()">
              <div class="form-group" >
                  <!-- <label class="center-block">ID: -->
                    <input class="form-control" formControlName="_id"  [(ngModel)]="drzava._id"   type="hidden">
                  <!-- </label> -->
                </div>
                <div class="form-group">
                    <label class="center-block">Kod:
                      <input class="form-control" formControlName="KodDrzave"  [(ngModel)]="drzava.KodDrzave" >
                    </label>
                    <div class="text-danger" *ngIf="!formDR.controls['KodDrzave'].valid && formDR.controls['KodDrzave'].touched">{{ titleAlertKod }}</div>
                    
                  </div>
    
               <div class="form-group">
                  <label class="center-block">Naziv:
                    <input class="form-control" formControlName="Naziv"  [(ngModel)]="drzava.Naziv" >
                  </label>
                  <div class="text-danger" *ngIf="!formDR.controls['Naziv'].valid && formDR.controls['Naziv'].touched">{{ titleAlertNaziv }}</div>
                  
                </div>
                <div class="checkbox">
                    <label class="center-block">
                      <input type="checkbox" formControlName="EuClan" [(ngModel)]="drzava.EuClan"  value="1">EuClan.
                    </label>
                    
                </div>
                 <div class="form-group">
                    <label class="center-block">Opis:
                      <textarea class="form-control" formControlName="Opis"  [(ngModel)]="drzava.Opis">
    
                      </textarea>
                    </label>
                </div>
              
                <div class="form-group">
                       <div class="col-md-offset-5 col-md-12">
                            <button type="submit" [disabled]="!formDR.valid"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-saved"></span>
                            Save
                            </button>
    
                          <button type="reset" class="btn btn-danger"  [disabled]="formDR.pristine"  (click)="revert()">
                              <i class="fa fa-undo" aria-hidden="true"></i>
                              Revert
                          </button>
                          
                       </div>
                  
                        
              </div>
                  
    
    
          </form>
          <!-- <div class="col-md-offset-2 col-md-12">
            <button (click)="backClicked()" 
            class="btn btn-default">
            <i class="fa fa-undo" aria-hidden="true"></i>
            Back
          </button>
        </div> -->
    
    
    </div>
        
    </div>
    <div class="col-md-offset-2 col-md-9">
        <button (click)="backClicked()"  class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
        Back
      </button>
    </div>
    </div> <!--  coll -->
    </div> <!--  row -->

    

<!-- 
<div class="col-lg-9 col-md-9 col-xs-10" >
<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col-lg-9 col-md-9 col-xs-10" [formGroup]="formDR" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
       
        <input id="KodDrzave" type="text" class="validate"
               [(ngModel)]="drzava.KodDrzave" formControlName="KodDrzave"
               [class.invalid]="form.controls['KodDrzave'].touched && !form.controls['KodDrzave'].valid"
        >
        <label for="KodDrzave"
               [class.active]="drzava.KodDrzave"
               data-error="KodDrzave is required and needs to contain at least 3 chars">
               KodDrzave
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
     
        <input id="Naziv" type="Naziv" class="validate"
               [(ngModel)]="drzava.Naziv" formControlName="Naziv"
               [class.invalid]="form.controls['Naziv'].touched && !form.controls['Naziv'].valid">
        <label for="Naziv"
               [class.active]="drzava.Naziv"
               data-error="Invalid Naziv">
          Naziv
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">

        <input id="Opis" type="text" class="validate" [(ngModel)]="drzava.Opis" formControlName="Opis">
        <label for="Opis" [class.active]="drzava.Opis">Opis</label>
      </div>
    </div>
    
  
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">Submit
      
     Submit<i class="material-icons right">send</i> 
    </button>
  </form>
-->
  <!--</div>-->
<!-- </div> -->