<div class="row">
<app-navbar></app-navbar>
</div> 

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- <p-messages [(value)]="msgs"></p-messages> -->
<!-- <div class="container"> -->

    <div class="container-fluid">
      
        <div class="row">

            <div class="col-lg-2">

                <app-navbar-left></app-navbar-left>

            </div> 



            <div class="col-lg-10"> 


              <flash-messages></flash-messages>
              <router-outlet>
                  
              </router-outlet>
          </div>
      </div>
    </div>


<!-- </div>  -->

