<div class="row">
<app-navbar></app-navbar>
</div> 

<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


<!-- <p-messages [(value)]="msgs"></p-messages> -->
<!-- <div class="container"> -->

 <div class="container-fluid">
     <div class="row">
                <!-- <div class="col-sm-2 col-md-2 d-none d-sm-block bg-light"> -->
               <app-navbar-left></app-navbar-left>
                <!-- </div> -->
                <!-- <main class="container-main col-sm-10 ml-sm-auto col-md-10 pt-3" role="main"> -->
                <main class="container-main" role="main">
                        <flash-messages></flash-messages>
                        <router-outlet></router-outlet>
                <!-- </div> -->
                </main>
        </div>
  </div>
    
        <!-- <div class="col-lg-10"> 
        <div class="row"> -->

            <!-- <div class="col-lg-2"> -->
                <!-- <app-navbar-left></app-navbar-left> -->
                
            <!-- </div>  -->



           

<!-- 
              <flash-messages></flash-messages>
              <router-outlet>
                  
              </router-outlet>
          </div>
      </div>
    </div> -->


<!-- </div>  -->

