<!-- <p>
  mesta-form works!
</p>
[@slideToRight] -->
<div class="panel panel-primary" [@routerTransition]>
  <div class="panel-heading">
      <h3>{{title}}</h3>
  </div>
  <div class="panel-body">
      <form [formGroup]="formPOSAO" (ngSubmit)="save()" novalidate>
          <div class="form-group" >
               <input class="form-control" formControlName="_id"  [(ngModel)]="posaoN._id"   type="hidden">
          </div>
          <div class="form-group">
              <label class="center-block">Stručna sprema:
                <select  formControlName="StepenSS" class="form-control"  [(ngModel)]="posaoN.StepenSS" >
                  <option *ngFor="let list of strSprema" [value]="list"   >
                    {{ list }}
                  </option>
                </select>
              </label>
          </div>
          
          <div class="form-group">
              <label class="center-block">Naziv posla:
                <input class="form-control" formControlName="Naziv"  [(ngModel)]="posaoN.Naziv" >
              </label>
               <div class="text-danger" *ngIf="!formPOSAO.controls['Naziv'].valid && formPOSAO.controls['Naziv'].touched">{{ titleAlertNaziv }}</div> 
              
            </div>
            
            <div class="form-group">
                <label class="center-block">Škola:
                  <input class="form-control" formControlName="Skola"  [(ngModel)]="posaoN.Skola" >
                </label>
              </div>
              
              <div class="form-group">
                <label class="center-block">Šifra:
                  <input class="form-control" formControlName="Sifra"  [(ngModel)]="posaoN.Sifra" >
                </label>
              </div>

              <div class="form-group">
                <label class="center-block">Šifra1:
                  <input class="form-control" formControlName="Sifra1"  [(ngModel)]="posaoN.Sifra1" >
                </label>
              </div>

              <div class="form-group">
                <label class="center-block">Opis:
                  <textarea class="form-control" formControlName="Opis"  [(ngModel)]="posaoN.Opis">
                  </textarea>
                </label>
            </div>
          
            <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <button type="submit" [disabled]="!formPOSAO.valid"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-saved"></span>
                        Save
                        </button>

                      <button type="reset" class="btn btn-danger"  [disabled]="formPOSAO.pristine"  (click)="revert()">
                          <i class="fa fa-undo" aria-hidden="true"></i>
                          Revert
                      </button>
                      
                    </div>
              
                    
          </div>
              


      </form>
  </div>
 
  <div class="panel-footer">
      
          <button (click)="backClicked()"  class="btn btn-primary btn-block">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            Back
        </button>
 
  </div>
  
</div>