
    <div class="panel panel-primary"  [@formsTransition]>
      <div class="panel-heading">
          <div class="row">
              <div class="text-left col-lg-9 col-md-9 col-xs-9">
                <h3>{{title}}</h3> 
              </div>
              <div class="text-right col-lg-3 col-md-3 col-xs-3 ">
                <i class="fa fa-times fa-4x cursorpointer" aria-hidden="true" (click)="backClicked()"></i>
              </div>
         </div>
      </div>
      <div class="panel-body">
          <form [formGroup]="formOPST" (ngSubmit)="save()" novalidate>
              <div class="form-group" >
                  <!-- <label class="center-block">ID: -->
                    <input class="form-control" formControlName="_id"  [(ngModel)]="opstina._id"   type="hidden">
                  <!-- <label> -->
              </div>
              <div class="form-group">
                  <label class="center-block">Država:
                    <select  formControlName="Drzava" class="form-control" placeholder="Select Državu"  name="Select Državu" [(ngModel)]="opstina.Drzava" >
                      <option *ngFor="let list of drzave" [value]="list._id"   >
                        {{ list.Naziv }}
                      </option>
                    </select>
                  </label>
              </div>
                
                <div class="form-group">
                    <label class="center-block">Kod opštine:
                      <input  class="form-control" formControlName="RegOzn"  [(ngModel)]="opstina.RegOzn" >
                    </label>
                    <div class="text-danger" *ngIf="!formOPST.controls['RegOzn'].valid && formOPST.controls['RegOzn'].touched">{{ titleAlertRegOzn }}</div>
                    
                  </div>

                <div class="form-group">
                  <label class="center-block">Naziv opštine:
                    <input class="form-control" formControlName="Naziv"  [(ngModel)]="opstina.Naziv" >
                  </label>
                  <div class="text-danger" *ngIf="!formOPST.controls['Naziv'].valid && formOPST.controls['Naziv'].touched">{{ titleAlertNaziv }}</div>
                  
                </div>
                
                <div class="form-group">
                    <label class="center-block">Šifra poreza opštine:
                      <input class="form-control" formControlName="SifPorez"  [(ngModel)]="opstina.SifPorez" >
                    </label>
                  </div>
                  
                  <div class="form-group">
                      <label class="center-block">Kontrolni broj opštine:
                        <input class="form-control" formControlName="KontBr"  [(ngModel)]="opstina.KontBr" >
                      </label>
                    </div>

                    <div class="form-group">
                        <label class="center-block">Poziv na broj opštine:
                          <input class="form-control" formControlName="PozivNaBr"  [(ngModel)]="opstina.PozivNaBr" >
                        </label>
                      </div>

                  <div class="form-group">
                    <label class="center-block">Opis:
                      <textarea class="form-control" formControlName="Opis"  [(ngModel)]="opstina.Opis">

                      </textarea>
                    </label>
                </div>
              
                <div class="form-group">
                        <div class="col-md-offset-5 col-md-12">
                            <button type="submit" [disabled]="!formOPST.valid"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-saved"></span>
                            Save
                            </button>

                          <button type="reset" class="btn btn-danger"  [disabled]="formOPST.pristine"  (click)="revert()">
                              <i class="fa fa-undo" aria-hidden="true"></i>
                              Revert
                          </button>
                          
                        </div>
                  
                        
              </div>
                  


          </form>
      </div>
     
      <div class="panel-footer">
          <!-- <div class="col-md-offset-2 col-md-9"> -->
              <button (click)="backClicked()"  class="btn btn-primary btn-block">
                <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
                Back
            </button>
          <!-- </div> -->
      </div>
      
    </div>
    
    <!-- </div>   coll -->
 <!--   </div>  row -->

    

