.dtempty_message_h1 {
    
    font-size: 1.8em;
    font-weight: 300;
    color: #009fc9;
    text-transform: capitalize;
    padding:1em;
}

div.dtempty_message {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* position: absolute;
    left: 50%;
    top: 50%; */
    transform: translate(-50%, -50%);
    /* display: inline-block; */
    padding: 5px;
    text-align: center;
}


.dtempty_message_text {
    font-size: 1em;
    font-weight: 500;
    color: darkgray;
}

