<div [formGroup]="Kontakt">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Naziv</label>
                <input type="text" class="form-control input-sm" formControlName="KoNaziv" required>
                 <small [hidden]="Kontakt.controls.KoNaziv.valid" class="text-danger">
                    Naziv je obavezan
                </small> 
            </div>
            <div class="form-group col-md-6">
                <label>Funkcija</label>
                <input type="text" class="form-control input-sm" formControlName="KoFunkcija" required>
                 <small [hidden]="Kontakt.controls.KoFunkcija.valid" class="text-danger">
                        Funkcija je obavezna
                </small>
            </div>
        </div>
        <div class="row">
                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" class="form-control input-sm" formControlName="KoEmail" >
                </div>
                <div class="form-group col-md-4">
                    <label>Telefon</label>
                    <input type="text" class="form-control input-sm" formControlName="KoTelef" >
               </div>
                <div class="form-group col-md-4">
                    <label>Mobilni</label>
                    <input type="text" class="form-control input-sm" formControlName="KoMobilni" >
                </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label class="center-block">Opis:
                    <textarea class="form-control input-sm" formControlName="KoOpis">
                </textarea>
                </label>
            </div>
        </div>
    </div>