<div [formGroup]="Ziro">
  <div class="row">
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-4">
      <label>Naziv</label>
      <input type="text" class="form-control input-sm" formControlName="PzNaziv" required>
      <small [hidden]="Ziro.controls.PzNaziv.valid" class="text-danger">
        Naziv je obavezan
      </small>
    </div>
    <div class="form-group col-md-4">
      <label>Racun</label>
      <input type="text" class="form-control input-sm" formControlName="PzRacun" required>
      <small [hidden]="Ziro.controls.PzRacun.valid" class="text-danger">
        Racun je obavezan
      </small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
    </div>
    <div class="form-group col-md-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="form-control input-sm" formControlName="PzGlavni"> Glavni
        </label>
      </div>
    </div>
    <div class="form-group col-md-8">
      <label class="center-block">Opis:
        <textarea class="form-control input-sm" formControlName="PzOpis">
        </textarea>
      </label>
    </div>
  </div>
</div>
