<div [formGroup]="telefForm">
        <div class="row">
            <div class="form-group col-xs-2">
            </div>
            <div class="form-group col-xs-4">
                <label>Naziv</label>
                <input type="text" class="form-control input-sm" formControlName="Naziv" required>
                 <small [hidden]="telefForm.controls.Naziv.valid" class="text-danger">
                    Naziv je obavezan
                </small> 
            </div>
            <div class="form-group col-xs-4">
                <label>Telefon</label>
                <input type="text" class="form-control input-sm" formControlName="Telefon" required>
                 <small [hidden]="telefForm.controls.Telefon.valid" class="text-danger">
                        Telefon je obavezan
                </small>
            </div>
        </div>
        <div class="row">
                <div class="form-group col-xs-2">
                </div>
                <div class="form-group col-xs-2">
                    <div class="checkbox">
                        <label >
                            <input type="checkbox"  class="form-control input-sm" formControlName="Glavni" >
                            Glavni
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-8">
                    <label class="center-block">Opis:
                        <textarea class="form-control input-sm" formControlName="Opis">
                    </textarea>
                    </label>
                </div>
        </div>
    </div>