/* You can add global styles to this file, and also import other style files */
body,html{
  height: 100%;
  overflow-x: hidden;
}   

/* remove outer padding */
.container-main .row{
  padding: 0px;
  margin: 0px;
} 
      
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; 
}
  
.smaller {
  font-size: 0.7rem; }

footer.sticky-footer {
  position: absolute; 
  right: 0;
  bottom: 0;
  width: 100%;
  height: 46px;
  background-color: #e9ecef;
  line-height: 35px;  
}
  

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(250,250,250,.8);
z-index: 1;
}

.centerWait {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* html {
  position: relative;
  min-height: 100%; }

body {
  overflow-x: hidden; }

body.sticky-footer {
  margin-bottom: 56px; }
  body.sticky-footer .content-wrapper {
     min-height: calc(100vh - 56px - 56px);  
   
  }


.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem; }


.smaller {
  font-size: 0.7rem; }


footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px; }
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px); } }


.centerWait {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

} */