/* You can add global styles to this file, and also import other style files */
body,html{
  height: 100%;
  overflow-x: hidden;
}   

/* remove outer padding */
.container-main .row{
  padding: 0px;
  margin: 0px;
} 
      
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem; 
}
  
.smaller {
  font-size: 0.7rem; }

footer.sticky-footer {
  position: absolute; 
  right: 0;
  bottom: 0;
  width: 100%;
  height: 46px;
  background-color: #e9ecef;
  line-height: 35px;  
}
  

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(250,250,250,.8);
z-index: 1;
}

.centerWait {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/*Forme */
.cursorpointer{
   cursor: pointer; 
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form):not(div)  {
    border-left: 5px solid #a94442; /* red */
}


/*Empty template za tabelu*/
.dtempty_message_h1 {
    
    font-size: 1.8em;
    font-weight: 400;
    /* color: #009fc9;  */
    /* text-transform: uppercase; */
    padding:1em;
}

h3.dtempty_message {
    margin-top: 5%;
}

div.dtempty_message {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* position: absolute;
    left: 50%;
    top: 50%; */
    height: 50%;
    width: 50%;
     transform: translate(-50%, -50%); 
    /* display: inline-block; */
    padding: 5px;
    text-align: center;
}

.dtempty_message_text {
    font-size: 1em;
    font-weight: 500;
    color: darkgray;
}

