<div [formGroup]="Stavke" class="row">
    
        <!-- <tbody> -->
            <!-- <tr> -->
                    <td class="col-md-1"><input type="text" class="form-control input-sm" formControlName="Rbr" readonly></td>
                    <td class="col-md-2"><input type="text" class="form-control input-sm" 
                        formControlName="IDZadrugar" (keypress)="serValidate.validateOnlyDigit($event)">
                        
                    </td>
                    <td class="col-md-1"> 
                        <button type="button" class="btn btn-sm btn-info" (click)="GetZadrugar()">
                            <span class="glyphicon glyphicon-search"></span>
                            ...
                        </button>
                    </td>
                    <td class="col-md-3">
                        <select  formControlName="ZadrugarID" class="form-control input-sm" (change)="onChangeZadr($event.target.value)" required>
                            <option [value]=""  disabled="true"  [selected]="true"> --Please select-- </option>
                            <option *ngFor="let list of zadrugarL"  [value]="list._id" >
                                <!-- {{list.Prezime}} {{list.Ime}}   [selected]="true"-->
                                {{list.fullName}}
                            </option>
                        </select>
                    </td>
                    <td class="col-md-3"><select  formControlName="PosloviID" class="form-control input-sm" (change)="onChangePosao($event.target.value)" required>
                            <option [value]=""  disabled="true" [selected]="!poslL._id" > --Please select-- </option>
                            <option *ngFor="let list of poslL" [value]="list._id"   >
                            {{list.Naziv}} 
                            </option>
                        </select>
                    </td>
                    <td class="col-md-1">
                        <button type="button" class="btn btn-sm btn-danger"  (click)="onClickRemove($event)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
            <!-- </tr>     -->
        <!-- </tbody> -->
       
 


  <!-- <div class="row">
      <div class="form-group col-md-2">
          <label class="center-block">Rbr
              <input type="text" class="form-control input-sm" formControlName="Rbr">
          </label>
      </div>
      <div class="form-group col-md-2">
          <label class="center-block">ID zadrugar
              <input type="text" class="form-control input-sm" formControlName="IDZadrugar">
          </label>
      </div>
      <div class="form-group col-md-4">
         
              <label class="center-block">Zadrugar:
                  <select  formControlName="ZadrugarID" class="form-control input-sm" required>
                      <option *ngFor="let list of zadrugarL"  [value]="list._id" >
                            {{list.Prezime}} {{list.Ime}}
                      </option>
                  </select>
              </label>
               <div *ngIf="Stavke.controls.ZadrugarID.invalid && (Stavke.controls.ZadrugarID.dirty || Stavke.controls.ZadrugarID.touched)" class="alert btn-danger">
                      <div *ngIf="Stavke.controls.ZadrugarID.errors.required">
                          <strong>Zadrugar je obavezan podatak !!!</strong>
                      </div>
              </div>
      </div>
      <div class="form-group col-md-4">
          <label class="center-block">Posao:
              <select  formControlName="PosloviID" class="form-control input-sm" placeholder="Select posao" required>
                  <option *ngFor="let list of poslL" [value]="list._id"   >
                  {{list.Naziv}} 
                  </option>
              </select>
          </label>
          <div *ngIf="Stavke.controls.PosloviID.invalid && (Stavke.controls.PosloviID.dirty || Stavke.controls.PosloviID.touched)" class="alert btn-danger">
                  <div *ngIf="Stavke.controls.PosloviID.errors.required">
                      <strong>Posao je obavezan podatak !!!</strong>
                  </div>
          </div>
      </div>
  </div> -->

</div>


<p-dialog header="ODABIR ZADRUGARA" [(visible)]="displayZadrugar" modal="modal" [responsive]="true"  [width]="pickWidth" [height]="auto" >
    <app-pick-zadrugar [zadrL]="zadrugarL" 
       (pickRow)="PickZadrugar($event)" (pickNothing)="displayZadrugar=false">
     </app-pick-zadrugar>
</p-dialog>